{% extends "base_generic.html" %}

{% block title %}<title>Home</title>{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <h1>Welcome {{ user.username }} !!!</h1>       
{% endif %}
<h2>Local Library Home</h2>

  <p>Welcome to <em>LocalLibrary</em></p>

<!-- <h2>Dynamic content</h2> -->

  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
  </ul>

  <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>

{% endblock %}